@tailwind base;
@tailwind components;
@tailwind utilities;

.main-bg {
  background-image: url(../assets/main-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

.main-intro {
  background-image: url(../assets/main-intro.webp);
  background-size: cover;
  background-repeat: no-repeat;
  margin: 12px;
}

.hip-joint-surgery {
  background-image: url(../assets/hip-joint.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 50px 16px;
  height: 420px;
}
.regenerative-therapies-bg {
  background-image: url(../assets/regenerative-therapy.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 50px 16px;
  height: 420px;
}
.arthroscopy-bg {
  background-image: url(../assets/arthroscopy.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 50px 16px;
  height: 420px;
}
.sports-injury-bg {
  background-image: url(../assets/sports-injury.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 50px 16px;
  height: 420px;
}

.complex-bone-fracture {
  background-image: url(../assets/complex-injury.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 50px 16px;
  height: 420px;
}
.musculoskeletal-bg {
  background-image: url(../assets/musculoskeletal.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  margin: 50px 16px;
  height: 420px;
}

.testimonials {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url(../assets/doctor-patient1.webp);
    background-size: cover;
    background-position: center;
    z-index: 0;
  }
  
  .testimonials::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #01579B;
    opacity: 0.5;
    z-index: 1;
  }

  .techniques {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url(../assets/bone-bg.PNG);
    background-size: cover;
    background-position: center;
    z-index: 0;
  }

  .contact-form {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url(../assets/doctor-black-gradient.webp);
    background-size: cover;
    background-position: center;
    z-index: 0;
  }

  .why-choose-us {
    background-image: url(../assets/main-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
  }
  .experience {
    background-image: url(../assets/particles-bg.PNG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
  }
  .hip-joint-bg {
    background-image: url(../assets/joint-bone.PNG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
  }
  .success-gallery-bg {
    background-image: url(../assets/award.PNG);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
  }